body{
  background: #ecb0e170;
}

img{
  width: 50%;
}
h1, h6{
  text-align: center;
}
.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  margin: 0 15px;
}

nav{
  background: #7D5BA6;
}

nav .brand-logo{
  padding-left: 15px;
}

.btn {
  background: #55D6BE;
  margin-bottom: 25px;
}

#showDogs{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#showDogs h6{
  padding-bottom: 25px;
}

h6{
  color: black;
}
